<%= form_for(@hotelsupply) do |f| %>
  <% if @hotelsupply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotelsupply.errors.count, "error") %> prohibited this hotelsupply from being saved:</h2>

      <ul>
      <% @hotelsupply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :num %><br />
    <%= f.number_field :num %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit 'Добавить' %>
  </div>
<% end %>
