<%= form_for(@employee, :html => { :multipart => true }) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee %><br />
    <%= f.text_field :employee %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.text_field :company_id %>
  </div>
  <div class="field">
	<%= f.label :position %><br />
	<%= f.select(:position, [['консьерж', 'Консьерж'],
							 ['старший консьерж', 'Старший консьерж'],
							 ['портье', 'Портье'],
							 ['старший портье', 'Старший портье'],
							 ['администратор склада', 'Администратор склада'],
							 ['hr-менеджер', 'HR-менеджер']]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
