<h1>Компании</h1>

<table>
  <tr>
	<th>ID</th>
    <th>Название</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
	<td><%= company.id %></td>
    <td><%= company.name %></td>
    <td><%= link_to 'Подробнее', company %></td>
    <td><%= link_to 'Редактировать', edit_company_path(company) %></td>
    <td><%= link_to 'Удалить', company, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить компанию?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить новую компанию', new_company_path %>
